.nav {
	display: flex;
	align-items: center;
	height: 60px;

	&__title {
		margin-right: 10px;
	}

	&__links-list {
		display: flex;
		list-style: none;
		margin-right: auto;

		li {
			margin: 0 5px;
		}
	}

	a {
		text-decoration: none;
		cursor: pointer;
		color: black;
		transition: 200ms color;

		&:hover {
			color: blueviolet;
			transition: 200ms color;
		}
	}
}
