.sign-in-out {
	text-align: center;
	line-height: 0;

	&__in-btn {
		border: none;
		line-height: 0;
		cursor: pointer;
	}

	&__out-btn {
		border: none;
		line-height: 0;
		cursor: pointer;
		padding: 1em;
		background-color: lightblue;
	}
}
